<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <!-- Çalıştırılacak test sınıflarını burada belirtin -->
            <class name="SepetUrun" />

            <!-- Daha fazla test sınıfı ekleyebilirsiniz -->
        </classes>
    </test>
</suite>
